<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Users</title>
    <link rel="stylesheet" href="/users.css">
  </head>
  <body>
    <div class="form">
      <form method="GET" action="/user">
          <input type="text" name="search" placeholder="Search by name, email or id" value="<%= searchTerm %>"/>
          <button type="submit">Search</button>
      </form>
      <form method="GET" action="/user/new" >
          <button>Add New User</button>
          <h2>
           Total No. Of Users in lists are :  <b style="color: red"><%= count %></b>
          </h2>
      </form>
      
  </div>
    
    <h2>List of all users</h2>
    <table>
      <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Username</th>
        <th>Password</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <% for(user of data) { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%=user.password%></td>
        <td>
          <form method="get" action="/user/<%=user.id%>/edit">
            <button>Edit username</button>
          </form>
        </td>
        <td>
          <form method="get" action="/user/<%=user.id%>/delete">
            <button>Delete</button>
          </form>
        </td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
